.inputInstallmentWrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.installmentStructureWrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3%;
}

.paymentHistory {
  display: flex;
}

.box {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: 20%;
}
