.inputInstallmentWrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.installmentStructureWrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3%;
}
